*,
::before,
::after
   margin: 0
   padding: 0
   box-sizing: border-box
a
   text-decoration: none
ul,
ol,
li
   list-style: none
html,
body

   height: 100%
.wrapper
   display: flex
   flex-direction: column
   min-height: 100%
   
header
   flex: 0 0 auto
   
.header
   height: 60px
   display: flex
   justify-content: space-between
   align-items: center
   background:  linear-gradient(0deg, #464341 0%, #010101 100%)
   padding: 0 20px
main
   flex: 1 1 auto
footer
   height: 200px
   background: #141414
.footer
   padding-top: 150px
   text-align: center
   color: #ffffff
   
